@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html, css{
    touch-action:none;
  }

  :root {
    --bg-color: #e6e6e6;
    --bg-sub-color: #d8d8d8;
    --text-color: #000;
    --border-color: #aaa;
    --shadow-out: #555 0.5vh 0.5vh 1.2vh, #fff -0.6vh -0.6vh 0.5vh;
    --shadow-in: inset #555 0.5vh 0.5vh 0.8vh, inset #fff -0.6vh -0.6vh 0.5vh;
  }

  /*
    --bg-color: #1c1c1e;
    --bg-sub-color: #000;
    --text-color: #fff;
    --border-color: #aaa;
    --shadow-out: rgba(0, 0, 0, 0.38) 0 0 1.5vh;
    --shadow-in: inset #ddd 0 0 0.7vh 0.2vh;
  */

body{
    overflow: hidden;
    color: #000;
}

::-webkit-scrollbar {
    width: 1.2vmin;
  }
  ::-webkit-scrollbar-track {
    background: #9c9c9c;
    border-radius: 2.5vw;
  }
  ::-webkit-scrollbar-thumb {
    background: #9a69fa;
    border-radius: 2.5vw;
  }

  ::after {
    font-family: 'Material Symbols Outlined';
  }

body text, body input, body button, textarea, .inputbtndiv{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: var(--text-color);
}

body input{
    appearance: none;
    -webkit-appearance: none;
}

textarea{
    resize: none;
    border: none;
    background-color: rgba(0,0,0,0);
    width:97%;
    height:99%;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
}

button{
    border: none;
    background-color: #1c1c1e;
    border-radius: 100vh;
    position: relative;
    height: 70%;
    width: 42.5%;
    margin:1.45vh 2.2%;
    white-space: nowrap;
    text-decoration: none;
}

    .canvas{
    background-color: var(--bg-sub-color);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
}

.main {
    background-color: var(--bg-color);
    box-shadow: var(--shadow-out);
    border: solid var(--border-color) 0.5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.calcmain {
    background-color: var(--bg-sub-color);
    border: solid var(--border-color) 0.5px;
    position: relative;
    height: 93.75%;
    width: 90%;
    margin: 0 auto;
    top: 2.5%;
    box-shadow: var(--shadow-in);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notlimitclickbutton, .limitclickbutton {
    border: none;
    border-radius: 100vh;
    position: relative;
    margin:0;
    vertical-align: middle;
    aspect-ratio: 1;
}

.notlimitclickbutton {
    box-shadow: var(--shadow-out);
    background-color: var(--bg-color);
}

.limitclickbutton {
    box-shadow: var(--shadow-in);
    background-color: var(--bg-sub-color);
}

.endlessexpbtn-on:after, .endlessexpbtn-on-click:after, .endlessexpbtn:after {
    content: '\e6b8';
    position: absolute;
    top: calc((85% - 1em)/2);
    left: 0;
    right: 0;
    transition: 0.3s;
}

.endlessexpbtn:after {
    font-size: 0;
}

.endlessrange text {
    position: relative;
    left: 6%;
    bottom: 6%;
}

#endlimitbtn:after {
    content: '\eb3d';
    position: absolute;
    top: calc((90% - 1em)/2);
    left: 0;
    right: 0;
}

.inputbtndiv{
    top: 0;
    position: relative;
    height: 100%;
    width: 9%;
    margin-left: 1.5%;
}

.inputbtn{
    height: 100%;
    width: 100% !important;
    top: 0;
    left: 0;
    position: absolute;
}

.inputbtndiv::after{
    content: '\f800';
    position: absolute;
    height: 67.5%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
}

.endlessspace{
    position: absolute;
    height: 90%;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.6s;
}

.endlessarea, .endlessarea-on, .endlessopt-on {
    background-color: var(--bg-color);
    border: solid var(--border-color) 0.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: var(--shadow-out);
    transition: 0.5s;
}

.endlessarea{
    height: 100%;
}

.endlessarea-on{
    height: 70%;
}

.endlessopt{
    display: flex;
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 2.4vh;
    box-shadow:var(--shadow-out);
    opacity: 0;
    transition: 0.3s;
}

.endlessopt-on{
    display: flex;
    height: 25% !important;
    top: 0;
    opacity: 1;
    margin: 0 !important;
}

.top, .bottom {
    width: 100%;
    position: relative;
    text-align: center;
}

.top{
    height: 20%;
    margin: 0 auto;
}

.bottom{
    height: 80%;
    justify-content: center;
    align-items: center;
}

.buttons{
    height: 60%;
    top: 3%;
    position: relative;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.endlesstools-search, .endlesstools, .searchtools-endless, .searchtools {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    position: relative;
    opacity: 1;
    right: 0%;
}

.endlesstools-search{
    z-index: 1;
    right: -100%;
    top: -100%;
}

.endlesstools{
    top: -100%;
    vertical-align: middle;
}

.searchtools-endless{
    left: -100%;
    top: 5%;
}

.searchtools{
    text-align: center;
    margin: 0 auto;
    left: 0;
    top: 5%;
}

.endbuttons{
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
}

.endbuttons button{
    height: 90%;
    width: 30%;
    margin: auto 2%;
}

.clickbutton{
    background-color: var(--bg-sub-color);
}

.notclickbutton, .searchtools input, .searchtools-endless input{
    box-shadow: var(--shadow-out);
    background-color: var(--bg-color);
}

.toptools{
    height: 40%;
    top: 2%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.searchtools form, .searchtools-endless form{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    height: 60%;
    top: 20%;
    right: 1.5%;
}

.searchtools input, .searchtools-endless input{
    margin: 0 1.5%;
    width: 9%;
    border-radius: 100vh;
    border: solid var(--border-color) 0.5px;
    background-color: var(--bg-color);
}

#searchbtn:after, #endlessbtn:after {
    vertical-align: middle;
    font-size: 2vh;
}

#searchbtn:after{
    content: '\f800';
}

#endlessbtn:after{
    content: '\e766';
}

.inputnum{
    width: 60% !important;
    position: relative;
    padding: 4%;
}

.clickbutton, .searchtools input:active{
    box-shadow:var(--shadow-in);
}

.calcspace, .calcspace-endless {
    height: 93%;
    width: 92%;
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: 0.6s;
}

.calcspace{
    left: 0;
}

.calcspace-endless{
    left: -223%;
}


.calcspace div, .calcspace-endless div{
    height: 95.5%;
    width: 39%;
    background-color: var(--bg-color);
    border: solid var(--border-color) 0.5px;
    border-radius: 2vh;
    box-shadow:var(--shadow-out);
    padding: 0.8vh;
}

.endlessspace-search{
    position: absolute;
    height: 90%;
    width: 86.5%;
    margin: auto;
    top: 0;
    right: -223%;
    bottom: 0;
    left: 0;
    transition: 0.6s;
}

.endlessexp{
    position: relative;
    width: 15%;
    margin: 3%;
}

.endlessexpwid{
    position: relative;
    width: 100%;
    height: 100%;
}

.endlessexpbtn, .endlessexpbtn-on, .endlessopt-on, .endlessexpbtn-on-click, .endlesstext {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s;
    margin: auto;
}

.endlessexpbtn{
    padding-top: 0;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-out);
}

.endlessexpbtn-on{
    padding-top: 100%;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-out);
}

.endlessexpbtn-on-click{
    padding-top: 100%;
    background-color: var(--bg-color);
    box-shadow:var(--shadow-in);
}

.endlessexpbtn span{
position: absolute;
font-size: 110%;
left: 0;
right: 0;
top: calc((90% - 1em)/2);
bottom: 0;
}

.endlessrange{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 2%;
    top: 2%;
    left: 1%;
}

.endlessrange div{
    height: 47.5%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.endlessrange input{
    width:95%;
    height: 25%;
    border-radius: 100vh;
    border: none;
    background-color: var(--bg-color);
    padding: 2.5%;
    box-shadow:var(--shadow-in);
}

.endlesstext{
    height: 92.5%;
    width: 90%;
}

@media screen and (orientation: portrait) {
    .main{
        height: 80vh;
        border-radius: 5vh;
        aspect-ratio: 40/75;
    }

    .calcmain{
        border-radius: 3.6vh;
    }


    body button, .inputbtndiv::after{
        font-size: 1.1em;
    }

    .notlimitclickbutton, .limitclickbutton{
        width: 4.7vh !important;
    }
    
.endlessexpbtn-on:after, .endlessexpbtn-on-click:after, #endlimitbtn:after{
    font-size: 2.4vh;
}

.endlessrange text{
    font-size: 1.8vh;
}

.endlessspace{
    width: 86.5%;
    top: 0.75%;
}

.endlessarea, .endlessarea-on, .endlessopt-on{
    border-radius: 2vh;
}
}

@media screen and (orientation:landscape) {
    .main{
        height: 90vh;
        border-radius: 5.5vh;
        aspect-ratio: 40/70;
    }

    .calcmain{
        border-radius: 4vh;
    }


    body button{
        font-size: 2.5vh;
    }

    
.notlimitclickbutton, .limitclickbutton{
    width: 5.5vh !important;
}
.endlessexpbtn-on:after, .endlessexpbtn-on-click:after{
    font-size: 3vh;
}

.endlessrange text{
    font-size: 2vh;
}

#endlimitbtn:after{
    font-size: 2.8vh;
}

.inputbtndiv::after{
    font-size: 2.4vh !important;
}

.endlessspace{
    width: 85.75%;
    top: 0.25%;
}

.endlessarea, .endlessarea-on, .endlessopt-on{
    border-radius: 2.4vh;
}
}