@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    transition: 0.8s;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 1.2vmin;
  }
  ::-webkit-scrollbar-track {
    background: #d0bcf1;
    border-radius: 2.5vw;
  }
  ::-webkit-scrollbar-thumb {
    background: #8754bb;
    border-radius: 2.5vw;
  }

    body text{
    font-family: 'Inter', sans-serif;
}
body button{
    font-family: 'Inter', sans-serif;
    font-size: 1.9vh;
}
body input{
    font-family: 'Inter', sans-serif;
}
textarea{
    font-family: 'Inter', sans-serif;
    font-size: 1.5vh;
}

    .canvas{
    background-color: #1a1c1c;
    width: 98vw;
    height: 100vh;
    position: absolute;
    bottom:3%;
}

.main{
    background-color: #efe8f8;
    width: 80vw;
    height: 80vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:-16%;
    right: 0;
    left: 0;
    border-radius: 5vh;
}

.top{
    width: 100%;
    height: 20%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.bottom{
    height: 80%;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button text{
    text-decoration: none;
}

.buttons{
    height: 60%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.endlesstools-search{
    opacity: 0;
    z-index: 1;
}

.endlesstools{
    opacity: 1;
}

.searchtools-endless{
    opacity: 0;
    position: absolute;
}

.searchtools{
    opacity: 1;
    z-index: 2;
}

.endbuttons button{
    position:relative;
    height: 5vh;
    width: 30%;
    top:-1.5vh;
    margin:2.2vh 1.2vh;
}

button{
    border: none;
    background-color: #e4dcef;
    border-radius: 100vh;
    position: relative;
    height: 70%;
    width: 40%;
    margin:1.45vh 2.2%;
}

.clickbutton{
    box-shadow:inset #555 0.5vh 0.5vh 0.8vh ,inset #fff -0.6vh -0.6vh 0.5vh;
}

.notclickbutton{
    box-shadow: #555 0.5vh 0.5vh 0.8vh , #fff -0.6vh -0.6vh 0.5vh;
}

.toptools{
    height: 40%;
    position: relative;
    text-align: center;
}

.searchtools{
    height: 100%;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.searchtools form{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 0;
    height: 60%;
    top: 20%;
}

.searchtools input{
    margin: 0 5px;
    border-radius: 100vh;
    border: none;
    background-color: #efe8f8;
    box-shadow: #555 0.5vh 0.5vh 0.8vh , #fff -0.6vh -0.6vh 0.5vh;
}

.inputnum{
    width: 60%;
    padding: 1.5vh;
}

.searchtools input:active{
    box-shadow:inset #555 0.5vh 0.5vh 0.8vh ,inset #fff -0.6vh -0.6vh 0.5vh;
}

.calcmain{
    background-color: #e4dcef;
    position: relative;
    height: 58.5vh;
    width: 68.5vw;
    margin: 0 auto;
    top: 2.5%;
    border-radius: 3.5vh;
    box-shadow:inset #444 0.6vh 0.6vh 1.4vh ,inset #fff -2vh -2vh 3vh;
    display: flex;
}

.calcspace{
    height: 92%;
    width: 92%;
    position: relative;
    margin:auto;
    top: 0;
    bottom: 0;
    text-align: left;
    display: flex;
    justify-content: center;
}

.calcspace-endless{
    top: 400%;
    height: 92%;
    width: 80%;
    position: relative;
    margin: 0 auto;
    text-align: left;
    display: flex;
}


.calcspace div{
    height: auto;
    width: 36%;
    background-color: e4dcef;
    border-radius: 2vh;
    box-shadow:#777 0.3vh 0.3vh 0.5vh ,#ddd -0.5vh -0.5vh 0.5vh;
    padding: 0.8vh;
}

.endlessspace{
    position: absolute;
    height: 86.8%;
    width: 77.5%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: e4dcef;
    border-radius: 2vh;
    box-shadow:#777 0.3vh 0.3vh 0.5vh ,#ddd -0.5vh -0.5vh 0.5vh;
    padding: 0.8vh;
}

.endlessspace-search{
    top: 1000vh;
    position: absolute;
    height: 86.8%;
    width: 77.5%;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: e4dcef;
    border-radius: 2vh;
    box-shadow:#777 0.3vh 0.3vh 0.5vh ,#ddd -0.5vh -0.5vh 0.5vh;
    padding: 0.8vh;
}

textarea {
  resize: none;
  border: none;
  background-color: rgba(0,0,0,0);
  width:96%;
  height:99.5%;
}  

.notlimitclickbutton{
    box-shadow: #555 0.5vh 0.5vh 0.8vh , #fff -0.6vh -0.6vh 0.5vh;
    border: none;
    background-color: #e4dcef;
    border-radius: 100vh;
    position: relative;
    margin:0;
    height: 5vh !important;
    width: 5vh !important;
}

.limitclickbutton{
    box-shadow:inset #555 0.5vh 0.5vh 0.8vh ,inset #fff -0.6vh -0.6vh 0.5vh;
    border: none;
    background-color: #e4dcef;
    border-radius: 100vh;
    position: relative;
    margin:0;
    height: 5vh !important;
    width: 5vh !important;
}